{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}
{% block headers %}
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection (enables XHR) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/charts/charts-min.js"></script>
<script type="text/javascript">YAHOO.widget.Chart.SWFURL = "http://yui.yahooapis.com/2.7.0/build/charts/assets/charts.swf"; </script>
{% endblock %}

{% block heading %}{{ project.name }}{% endblock %}
{% block body %}

<table class="horizontal">
 <tr>
  <th>Patch count</th>
  <td>{{n_patches}} (+ {{n_archived_patches}} archived)</td>
 </tr>
  <tr>
  <th>New Patchs</th>
  <td>{{n_new_patches}}</td>
 </tr>
 <tr>
  <th>Under Review Patches</th>
  <td>{{n_underreview_patches}}</td>
 </tr>
 <tr>
  <th>Resolved Patches</th>
  <td>{{n_resolved_patches}} ( {{n_accepted_patches}} accepted/ {{n_rejected_patches}} rejected)</td>
 </tr>
 <tr>
  <th>Reviewers</th>
  <td>{{n_reviewers}}</td>
 </tr>
 <tr>
  <th>Contributors</th>
  <td>{{n_contributors}}</td>
 </tr>
</table>

<div>
  <h2>Patches Statistics:</h2>
  <table style="width: 800px" class="horizontal">
    <thead>
      <tr>
        <th style="width: 357px" class="style1">Metrics</th>
        <th style="width: 219px">Mean</th>
        <th style="width: 219px">Median</th>
        <th style="width: 91px">Max</th>
        <th style="width: 90px">Min</th>
        <th style="width: 90px">Std. Dev.</th>
      </tr>
    </thead>
    <tbody>
      {% for metric, stats in patch_duration_stats.items %}
      <tr class="statistics">
        <th style="width: 357px" class="style1">{{metric}}</th>
        <th style="width: 100px">{{stats.avg}}</th>
        <th style="width: 100px">{{stats.median}}</th>
        <th style="width: 91px">{{stats.max}}</th>
        <th style="width: 90px">{{stats.min}}</th>
        <th style="width: 90px">{{stats.stdev}}</th>
      </tr>
      {% endfor %}
    </tbody>
    <tbody>
      {% for metric, stats in patch_frequency_stats.items %}
      <tr class="statistics">
        <th style="width: 357px" class="style1">{{metric}}</th>
        <th style="width: 100px">{{stats.avg}}</th>
        <th style="width: 100px">{{stats.median}}</th>
        <th style="width: 91px">{{stats.max}}</th>
        <th style="width: 90px">{{stats.min}}</th>
        <th style="width: 90px">{{stats.stdev}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Daily Backlog</h2>
<div id="daily_backlog" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var tickethistory = {{ds_daily_backlog|safe}}

  var ds = new YAHOO.util.DataSource(tickethistory);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "date", "opened", "closed", "created" ] };

    var seriesDef =
    [
      { type: "line", displayName: "Opened Tickets", yField: "opened", style: { color: 0x0000FF }},
      { displayName: "Closed Tickets", yField: "closed", style: { color: 0xbae0ba }},
      { displayName: "New Tickets", yField: "created", style: { color: 0x9966ff }}
    ];

  //--- chart
  var mychart = new YAHOO.widget.StackedColumnChart( "daily_backlog", ds,
               { xField: "date", series: seriesDef, style: {legend: {display: "bottom"}, xAxis: {labelRotation: -60}}});
</script>

{% if settings.ENABLE_XMLRPC %}
<p>Sample <a href="{% url patchwork.views.help "pwclient/" %}">patchwork
client</a> configuration for this project: <a
href="{% url patchwork.views.pwclientrc project.linkname %}"
>.pwclientrc</a>.</p>
{% endif %}
  
{% endblock %}
