{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}
{% block headers %}
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection (enables XHR) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/charts/charts-min.js"></script>
<script type="text/javascript">YAHOO.widget.Chart.SWFURL = "http://yui.yahooapis.com/2.7.0/build/charts/assets/charts.swf"; </script>
{% endblock %}

{% block heading %}{{ project.name }}{% endblock %}
{% block body %}

<table class="horizontal">
 <tr>
  <th>Patch count</th>
  <td>{{n_patches}} (+ {{n_archived_patches}} archived)</td>
 </tr>
  <tr>
  <th>New Patchs</th>
  <td>{{n_new_patches}}</td>
 </tr>
 <tr>
  <th>Under Review Patches</th>
  <td>{{n_underreview_patches}}</td>
 </tr>
 <tr>
  <th>Resolved Patches</th>
  <td>{{n_resolved_patches}} ( {{n_accepted_patches}} accepted/ {{n_rejected_patches}} rejected)</td>
 </tr>
 <tr>
  <th>Reviewers</th>
  <td>{{n_reviewers}}</td>
 </tr>
 <tr>
  <th>Contributors</th>
  <td>{{n_contributors}}</td>
 </tr>
</table>

<h2>Patches by State</h2>
<a href="{% url patchwork.views.analytics.patches project_id=project.linkname %}">Patch Charts</a>
<div id="patches_by_state" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var patches_by_state = {{ds_patches_by_state|safe}}

  var ds = new YAHOO.util.DataSource(patches_by_state);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "state", "patches" ] };

  //--- chart
  var mychart = new YAHOO.widget.PieChart( "patches_by_state", ds,
  {
      dataField: "patches",
      categoryField: "state",
      style: {legend: {display: "right"}},
      series: [{}]
  });

  </script>
</div>

<h2>Daily Backlog</h2>
<div id="daily_backlog" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var tickethistory = {{ds_daily_backlog|safe}}

  var ds = new YAHOO.util.DataSource(tickethistory);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "date", "opened", "closed", "created" ] };

    var seriesDef =
    [
      { type: "line", displayName: "Opened Tickets", yField: "opened", style: { color: 0x0000FF }},
      { displayName: "Closed Tickets", yField: "closed", style: { color: 0xbae0ba }},
      { displayName: "New Tickets", yField: "created", style: { color: 0x9966ff }}
    ];

  //--- chart
  var mychart = new YAHOO.widget.StackedColumnChart( "daily_backlog", ds,
               { xField: "date", series: seriesDef, style: {legend: {display: "bottom"}, xAxis: {labelRotation: -60}}});
  </script>
</div>

<h2>Contributors</h2>
<a href="{% url patchwork.views.analytics.contributors project_id=project.linkname %}">Contributor Charts</a>
<div id="contributors_patchs" style="width: 1024px; height: 768px;"></div>

  <script type = "text/javascript">
  //--- data
  var contributors = {{ds_contributor_info|safe}}

  var ds = new YAHOO.util.DataSource(contributors);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "contributor", "patches", "reviews", "comments" ] };

    var seriesDef =
    [
      { displayName: "Submitted Patches", yField: "patches", style: { color: 0xbae0ba }},
      { displayName: "Reviewed Patches", yField: "reviews", style: { color: 0x9966ff }},
      { displayName: "Comments", yField: "comments", style: { color: 0x996666 }}
    ];

  //--- chart
  var mychart = new YAHOO.widget.ColumnChart( "contributors_patchs", ds,
               { xField: "contributor", series: seriesDef, style: {legend: {display: "bottom"}, xAxis: {labelRotation: -90}}});
  </script>
</div>

<a href="{% url patchwork.views.help "pwclient/" %}">patchwork
client</a>
{% if settings.ENABLE_XMLRPC %}
<p>Sample <a href="{% url patchwork.views.help "pwclient/" %}">patchwork
client</a> configuration for this project: <a
href="{% url patchwork.views.pwclientrc project.linkname %}"
>.pwclientrc</a>.</p>
{% endif %}
  
{% endblock %}
