{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}
{% block headers %}
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection (enables XHR) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/charts/charts-min.js"></script>
<script type="text/javascript">YAHOO.widget.Chart.SWFURL = "http://yui.yahooapis.com/2.7.0/build/charts/assets/charts.swf"; </script>
{% endblock %}

{% block heading %}{{ project.name }}{% endblock %}
{% block body %}

<h2>Contributors</h2>
<div id="contributors_patchs" style="width: 1280px; height: 800px;"></div>

  <script type = "text/javascript">
  //--- data
  var contributors = {{ds_contributor_info|safe}}

  var ds = new YAHOO.util.DataSource(contributors);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "contributor", "patches", "reviews", "comments" ] };

    var seriesDef =
    [
      { displayName: "Submitted Patches", yField: "patches", style: { color: 0xbae0ba }},
      { displayName: "Reviewed Patches", yField: "reviews", style: { color: 0x9966ff }},
      { displayName: "Comments", yField: "comments", style: { color: 0x996666 }}
    ];

  //--- chart
  var mychart = new YAHOO.widget.ColumnChart( "contributors_patchs", ds,
               { xField: "contributor", series: seriesDef, style: {legend: {display: "bottom"}, xAxis: {labelRotation: -90}}});
  </script>
</div>

<h2>Top contributors by number of submitted patches</h2>
<div id="top_submitters" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var submitters = {{ds_top_submitters|safe}}

  var ds = new YAHOO.util.DataSource(submitters);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "contributor", "patches" ] };

    var seriesDef =
    [
      { displayName: "Submitted Patches", xField: "patches", style: { color: 0xbae0ba }},
    ];

  //--- chart
  var mychart = new YAHOO.widget.BarChart( "top_submitters", ds,
               { yField: "contributor", series: seriesDef, style: {legend: {display: "bottom"}}});
  </script>
</div>

<h2>Top contributors by number of reviewed patches</h2>
<div id="top_reviewers" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var reviewers = {{ds_top_reviewers|safe}}

  var ds = new YAHOO.util.DataSource(reviewers);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "contributor", "patches" ] };

    var seriesDef =
    [
      { displayName: "Reviewed Patches", xField: "patches", style: { color: 0x9966ff }},
    ];

  //--- chart
  var mychart = new YAHOO.widget.BarChart( "top_reviewers", ds,
               { yField: "contributor", series: seriesDef, style: {legend: {display: "bottom"}}});
  </script>
</div>

<h2>Top contributors by number of comments</h2>
<div id="top_commenters" style="width: 640px; height: 480px;"></div>

  <script type = "text/javascript">
  //--- data
  var commenters = {{ds_top_commenters|safe}}

  var ds = new YAHOO.util.DataSource(commenters);
  ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
  ds.responseSchema = { fields: [ "contributor", "comments" ] };

    var seriesDef =
    [
      { displayName: "Comments", xField: "comments", style: { color: 0x996666 }},
    ];

  //--- chart
  var mychart = new YAHOO.widget.BarChart( "top_commenters", ds,
               { yField: "contributor", series: seriesDef, style: {legend: {display: "bottom"}}});
  </script>
</div>


{% if settings.ENABLE_XMLRPC %}
<p>Sample <a href="{% url patchwork.views.help "pwclient/" %}">patchwork
client</a> configuration for this project: <a
href="{% url patchwork.views.pwclientrc project.linkname %}"
>.pwclientrc</a>.</p>
{% endif %}
  
{% endblock %}
